@{
    ViewBag.Title = "Demo 1";
}

@section head
{
    <link rel="stylesheet" href="~/Content/cardflip.css" media="screen">
    <script src="/scripts/handlebars.js"></script>
}

<script id="card-template" type="text/x-handlebars-template">
    <div class="row">
    {{#each Pieces}}
        <div id="{{Name}}" class="click panel col-lg-2">
            <div class="front">
                <img src="/Content/img/back.jpg">
            </div>
            <div class="back">
                <img src="/Content/img/front.jpg">
            </div>
        </div>
        {{#endRow @@index}}
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
        {{/endRow}}
    {{/each}}
    </div>

</script>


<script type="text/javascript">

    $(function () {
        
        Handlebars.registerHelper('endRow', function (conditional, options) {
            if ((conditional + 1) % 5 == 0 && conditional > 0) {
                return options.fn(this);
            }
            return "";
        });


        var game = { Pieces: new Array() };
        game.Pieces[0] = { Name: 'card-1'};
        game.Pieces[1] = { Name: 'card-2'};
        game.Pieces[2] = { Name: 'card-3'};
        game.Pieces[3] = { Name: 'card-4'};
        game.Pieces[4] = { Name: 'card-5'};
                                   
        game.Pieces[5] = { Name: 'card-6'};
        game.Pieces[6] = { Name: 'card-7'};
        game.Pieces[7] = { Name: 'card-8'};
        game.Pieces[8] = { Name: 'card-9'};
        game.Pieces[9] = { Name: 'card-10' };
        
        game.Pieces[10] = { Name: 'card-10' };
        game.Pieces[11] = { Name: 'card-11' };
        game.Pieces[12] = { Name: 'card-12' };
        game.Pieces[13] = { Name: 'card-13' };
        game.Pieces[14] = { Name: 'card-14' };


        var template = Handlebars.compile($("#card-template").html());
        $('#board').html(template(game));
        
        $('div[id^=card-]').toggle(function (e) {
            $(this).addClass('flip');
        }, function () {
            $(this).removeClass('flip');
        });
        

    });
</script>


<div class="container" id="board">
    
</div>
   